.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }
 :root{
    /*set var color*/

--Dark_cyan: hsl(185, 75%, 39%);
--Very_dark_desaturated_blue: hsl(229, 23%, 23%);
--Dark_grayish_blue: hsl(227, 10%, 46%);
--Dark_gray: hsl(0, 0%, 59%);
--height_block: 150px;
--size_photo_profile: 100px;
 }

 *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
 @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

 body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    background-color: var(--Dark_cyan);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image:url('images/bg-pattern-top.svg'), url('images/bg-pattern-bottom.svg');
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-position: -500px 250%, 500px -150% ;
 }
 img{ max-width: 100%;
 }
 .card_container{
    border-radius: 1rem;
    margin: 50px 20px;
    overflow: hidden;
    text-align: center;
 }
 .container{
    position: relative;
    max-width: 400px;
 }
 header{
    height: var(--height_block);
    
 }
 header img{
    height: 100%;
 }
 .photo_profile{
    display: block;   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: var(--size_photo_profile);
    width: var(--size_photo_profile);
    border-radius: 50%;
    box-sizing: border-box;
    border: 4px solid white;
 }
 .photo_profil img{
    object-fit: cover;
 }
 .profile_info{
    background-color: white;
    height: var(--height_block);
    padding: 30px;
 }
 h1{
    margin: 40px 0 10px 0 ;
    font-size: 18px;
 }
 .age{
    font-weight: 400;
    text-decoration: none;
    font-weight: lighter;
 }
 article p{
    font-size: 18px;
 }
 footer{
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: white;
    border-top: 0.5px solid  var(--Dark_gray);
    padding: 15px;
 }
 p{
    font-weight: 400;
    color: var(--Dark_gray);
    font-size: 12px;
 }
 footer p{
    letter-spacing: 2px;
    margin-top: 5px;
 }
 .number{
    font-weight: 700;
 }